@model infnetMVC.Models.Funcionario

@{
    ViewData["Title"] = "Procurar por nome";
}

<form method="get" action="@Url.Action("FindingByName", "Funcionarios")">
    <label for="nome">Nome do Funciónario:</label>
    <input type="text" id="nome" name="nome" />
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>


@if (Model == null)
{

    <h1>Procure o nome de algúem em nosso banco</h1>
}
else
{
    <ol>
        <li>@Model.Nome</li>
        <li>@Model.Telefone</li>
        <li>@Model.Endereco</li>
        <li>@Model.Departamento.Nome</li>
    </ol>
        
}