@model infnetMVC.Models.Funcionario

@{
    ViewData["Title"] = "Procurar por nome";
}

<form method="get" action="@Url.Action("FindingByName", "Funcionarios")">
    <label for="nome">Nome do Produto:</label>
    <input type="text" id="nome" name="nome" />
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>


@if (Model != null)
{
    <h1>@Model.Nome</h1>
    <h1>@Model.Telefone</h1>
    <h1>@Model.Endereco</h1>
    <h1>@Model.Departamento.Nome</h1>
}
else
{
    <h1>Nós da o C# PoHaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h1>
}